@model BookShop.Models.Genre

@{
    ViewBag.Title = "Genre Details";
}

<h2>Genre Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<p>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id=Model.GenreId })">
        <span class="glyphicon glyphicon-edit"></span>
        <span>Edit</span>
    </a>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span>Back to Genres</span>
    </a>
</p>
