@model IEnumerable<BookShop.Models.Genre>

@{
    ViewBag.Title = "List of Genres";
}

<h2>List of Genres</h2>

<p>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Create")">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Create New Genre</span>
    </a>
</p>
<br />
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a type="button" class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id=item.GenreId })">
                <span class="glyphicon glyphicon-edit"></span>
                <span>Edit</span>
            </a>
            <a type="button" class="btn btn-primary btn-xs" href="@Url.Action("Details", new { id=item.GenreId })">
                <span class="glyphicon glyphicon-list"></span>
                <span>Details</span>
            </a>
            <a type="button" class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id=item.GenreId })">
                <span class="glyphicon glyphicon-trash"></span>
                <span>Delete</span>
            </a>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenreId })
        </td>*@
    </tr>
}

</table>
