@model IEnumerable<BookShop.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Shop Demo</h1>
    <p class="lead">This is a Sample Book Shop application, where CRUD operations are demonstrated.</p>
</div>

<div>
    @foreach (var book in Model)
    {
        <div class="well">
            @*@if (book.ImageData != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75"height="75" src="@Url.Action("GetImage", "Book", new { book.BookId })" />
                </div>
            }*@
            <h3>
                <strong>@book.Title</strong>
                <span class="pull-right label label-primary">@book.Price.ToString("c")</span>
            </h3>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => book.BookId)
                    <input type="submit" class="btn btn-success" value="Add to Cart" />
                </div>
            }
            <span class="lead">@book.Author</span>
        </div>
    }
</div>

