@model BookShop.Models.Book

@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    <a type="button" class="btn btn-primary" href="@Url.Action("Edit", new { id=Model.BookId })">
        <span class="glyphicon glyphicon-edit"></span>
        <span>Edit Book</span>
    </a>
    <a type="button" class="btn btn-primary" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span>Back to Books</span>
    </a>
</p>
