@model IEnumerable<BookShop.Models.Book>

@{
    ViewBag.Title = "List of Books";
}

<h2>List of Books</h2>

<p>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Create")">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span>Create New Book</span>
    </a>
</p>
<br />
<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
                <a type="button" class="btn btn-primary btn-xs" href="@Url.Action("Edit", new { id=item.BookId })">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span>Edit</span>
                </a>
                <a type="button" class="btn btn-primary btn-xs" href="@Url.Action("Details", new { id=item.BookId })">
                    <span class="glyphicon glyphicon-list"></span>
                    <span>Details</span>
                </a>
                <a type="button" class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id=item.BookId })">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Delete</span>
                </a>
        </td>
    </tr>
}

</table>
